/* Top section start  */
.top-section{
    padding:15px 0;
    color: #99a9b5;
    position: relative;
  }
  .top-section .content{
    display: flex;
    justify-content: space-between;
}
.top-section {
  padding: 12px 0 0 0;
}
  .top-section .contact p{
    font-size: 13px;
    padding-right: 15px;
    display: inline;
  }
  .contact p img{
    padding-right: 5px;
  }
  .top-small-menu ul li {
    float: left;
  }
  .top-small-menu a{
    color: #99a9b5;
    margin-left: 10px;
    font-size: 13px;
  }
  .top-small-menu a img{
    padding-right: 5px;
  }
  .btn-small{
    display: inline-block;
  }
  .btn-small a{
    text-align: center;
    font-size: 13px;
    padding: 10px 15px;
    font-weight: 700;
    background-color: #eb5353;
    color: #fff;
    border-radius: 5px;
    border: none;
  }
  /* top section end  */

  /* Nav section start  */
  .nav-section{
    position: sticky;
    top: 0;
    padding: 30px 0;
    z-index: 500;
  }
  .mobilemenu{
    display: none;
  }
  .menu-item{
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .menu-bar{
    padding: 10px 0;
  }
  .menu-bar ul li{
    float: left;
  }
  .menu-bar li{
    cursor: pointer;
    margin-left: 22px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    transition:0.2s ease-in;
  }
  .menu-bar li a{
    color: #fff;
  }
  .menu-bar li:hover{
    outline-offset: 5px;
    outline: 2px solid rgb(255, 255, 255);
  }
  .menu-bar li ul{
    margin: 0;
    padding: 0;
    background-color: #03263e;
    border-radius: 0;
    left: 0% !important;
    top: 35% !important;
  }
  .menu-bar ul dropdown-item {
    margin: 0;
    padding: 0;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: inherit;
  background-color: inherit;
  }
  .search-area img{ 
    padding-left: 15px;
  }
  /* Nav section end  */